<form class="card-body" #nForm="ngForm" (ngSubmit)="onFormSubmit()">
    <div class="input-group">
        <label for="email" class="input-field-label">Email</label>
        <input type="text" 
        name="email" 
        placeholder="Email" 
        class="input-field" 
        ngModel 
        #email="ngModel" 
        email
        required/>
        <div class="error-text" *ngIf="emailValidate().error">{{emailValidate().message}}</div>
    </div>
    <div class="input-group">
        <label for="password" class="input-field-label">Password</label>
        <input 
        type="text" 
        name="password" 
        placeholder="Password" 
        class="input-field" 
        ngModel
        required
        minlength="6"/>
        <div class="error-text" *ngIf="passValidate().error">{{passValidate().message}}</div>
    </div>
    <div class="input-group">
        <label for="cPassword" class="input-field-label">Confirm Password</label>
        <input 
        type="text" 
        name="cPassword" 
        placeholder="Confirm Password" 
        class="input-field" 
        ngModel
        required
        minlength="6"
        />
        <div class="error-text" *ngIf="cPassValidate().error">{{cPassValidate().message}}</div>
    </div>
    <input type="submit" value="Sign up" class="btn">
    <div class="login-info">
        <p>This form is protected by hCaptcha and its <a href="#" class="link">Privacy Policy</a> and <a href="#" class="link">Terms of Service</a> apply.</p>
    </div>
</form>